:root {
    --light: white;
    --blue: rgb(0, 0, 112);
    --black: black;
    --yellow: rgb(255, 187, 0);
}

/* wildcard border used to visualize containers while stylizing */

/* * {
    border: 1px solid red;
} */

header {
    background-color: var(--blue);
    color: var(--light);
} 

